/*Fully readable until 410px width*/

/*FONT*/

@font-face {
    font-family: "Windlass";
    src: url(../font/Windlass.ttf);
}

/*CSS*/

*{
    margin: 0
}

html{
    overflow-x: hidden;
    color: #f1eee5;
}

body{
    width: 100vw;
    height: fit-content;
}

h1, h2{
    font-family: "Windlass";
    font-weight: 300;
}

h2{
    margin-bottom: 2vh;
}

p{
    font-size: 100%;
    margin: 0 5vw;
}

header{
    display: flex;
    position: fixed;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: black;
    justify-content: center;
}

.logowrapper{
    display: flex;
    align-items: center;
    width: 100px;
}

.logo{
    width: 100%;
    height: auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #0a1e25;
}

footer{
    background-color: #08141a;
    padding: 2%;
}

.rond{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #8e3adc;
}


swiper-container {
    width: 100%;
    height: 100%;
  }

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.option{
    width: 90%;
    margin: 15vh 10vw 0 10vw;
}

input{
    margin: 0 1% 0 1%;
}

fieldset{
    margin: 1%;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

li > p{
    margin: 0 1% 0 0;
}


.nohyperlink{
    color: inherit;
    text-decoration: none;
}

.darkmode{
    display: flex;
    flex-direction: row;
}

ul{
    padding-inline-start: 0;
}

.burger-nav{
    list-style-type: none;
    display: none;
    flex-direction: column;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

.crane{
    height: 100%;
    width: auto;
    filter: invert(18%) sepia(70%) saturate(416%) hue-rotate(148deg) brightness(101%) contrast(91%);
}

.sideseparator{
    height: 10px;
    width: 40%;
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
}

.button{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.button > a{
    width: 40%;
    height: 23vw;
    transition: 0.5s;
    border: 0px;
    border-radius: 50% 50% 50% 50%;
    margin: 5% 5% 5% 5%;
}

.button > a:hover{
    width: 40%;
    height: 23vw;
    transition: 0.5s;
    border: 0px;
    border-radius: 0 0 0 0;
    margin: 5% 5% 5% 5%;
}

/*-720px width*/
@media screen and (max-width: 720px){
    .button >a{
        width: 80%;
        height: 46vw;
    }

    .button > a:hover{
        width: 80%;
        height: 46vw;
    }

    .button{
        justify-content: center;
    }
}

.gold_hoarders{
    background: url(../img/Gold_Hoarders_icon.png) no-repeat center/20%, url(../img/Gold_Hoarders_bg.png) no-repeat center/cover;
}

.order_of_souls{
    background: url(../img/Order_of_Souls_icon.png) no-repeat center/20%, url(../img/Order_of_Souls_bg.png) no-repeat center/cover;
}

.merchant_alliance{
    background: url(../img/Merchant_Alliance_icon.png) no-repeat center/20%, url(../img/Merchant_Alliance_bg.png) no-repeat center/cover;
}

.reapers_bones{
    background: url(../img/Reapers_Bones_icon.png) no-repeat center/20%, url(../img/Reapers_Bones_bg.png) no-repeat center/cover;
}

.athenas_fortune{
    background: url(../img/Athenas_Fortune_icon.png) no-repeat center/20%, url(../img/Athenas_Fortune_bg.png) no-repeat center/cover;
}

.athenas_fortune{
    background: url(../img/Athenas_Fortune_icon.png) no-repeat center/20%, url(../img/Athenas_Fortune_bg.png) no-repeat center/cover;
}

.guild{
    background: url(../img/Guild_icon.png) no-repeat center/20%, url(../img/Guild_bg.png) no-repeat center/cover;
}

